{% extends "base.html" %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/profile.css' %}"/>{% endblock %}
{% block content %}
    <div class="container">
      <div class="top">
        <h1>你好！{{username}}</h1>
      </div>
      <div>
        <h2>我的朋友</h2>
        <div class="friends">
          {% for friend in friends %}
          <a href="{% url 'user' username=friend%}" class="btn btn-primary">{{friend}}</a>
          {% endfor %}
        </div>
      </div>
      <div>
        <h2>我的藏書</h2>
        <div class="book-hold">
          {% for id,img in hold_book.items %}
          <a href="{% url 'book' book_id=id %}"><img src="{{img}}" /></a>
          {% endfor %}
        </div>
      </div>
      <div>
        <h2>閱讀記錄</h2>
        <div class="book-borrow">
          {% for id,img in read_book.items %}
          <a href="{% url 'book' book_id=id %}"><img src="{{img}}" /></a>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
