body {
  margin: 0;
  padding: 0;
  background-color: #f7f3ed !important;
}

/* nav */

.nav-link {
  text-align: center;
}

/* common */
#nav-desktop {
  display: none;
}

#nav-item,
#search-box {
  margin: 0;
  display: inline-block;
}
.navbar {
  z-index: 3;
}
.navbar,
#nav-item-moblie,
#search-box-moblie {
  background-color: white !important;
}

/* search */
#search-box-moblie.clicked {
  display: flex;
  transform: scaleY(1);
}
#search-box-moblie {
  transform: scaleY(0);
  display: none;
  padding: 8px 15px;
}

#search-submit-btn {
  margin-left: 5px;
  height: 38px;
}

/* nav */
#nav-item-moblie.clicked {
  display: block;
  transform: scaleY(1);
}

#nav-item-moblie {
  transform: scaleY(0);
  display: none;
}

#nav-item a {
  display: inline;
}

@media (min-width: 800px) {
  #nav-item-moblie,
  #search-box-moblie,
  #search-btn,
  #ham-btn {
    display: none !important;
  }
  #nav-desktop {
    display: block;
  }
}

/* profile */
.friends,
.book-hold,
.book-borrow {
  border-radius: 15px;
  padding: 30px;
  background-color: white;
  margin-bottom: 50px;
}

.top{
  margin-top: 60px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom:1px gray solid ;
  color: #007bff;
}

img{
  height: auto;
  width: 100px;
  margin: 10px;
}
